@model PROJETO01.Modelos.Estado

    <form asp-controller="Estado" asp-action="AdicionarConfirmacao" method="post">
        <div class="mb-3">
            <label for="UF" class="form-label">UF:</label>
            <input asp-for="UF" type="text" class="form-control" placeholder="Digite o UF do estado" />
        </div>
        <div class="mb-3">
            <label for="Nome" class="form-label">Nome:</label>
            <input asp-for="Nome" type="text" class="form-control" placeholder="Digite o nome do estado" />
        </div>

        <hr />

        <a href="#" class="btn btn-secondary" onclick="javascript:history.back()">
            VOLTAR
        </a>

        <button type="submit" class="btn btn-success float-right">
            SALVAR
        </button>

    </form>